%h1 Détails
%p
  Nom du client: #{@reservation.customer.first_name.to_s + " " + @reservation.customer.last_name}

%p
  Chambres réservées:
  - @reservation.reservations_rooms.each do |r|
    = r.room.number.to_s + "; "

%p
  = link_to 'Retour', admin_reservations_path