%h1 Showing!
%p
  Type de chambre: #{@room_type.type_desc}
%p
  Prix fixe: #{@room_type.type_fixed_price}
%p
  Variation du prix: #{@room_type.type_percent_variation}

%p
  = link_to 'Retour', change_prices_path