- rooms.each do |r|
  .card.flex-row
    .card-header.border-0
      = image_tag 'Room101.jpg', class: 'img-room'
    .card-block.px-2
      .card-body
        %h5.card-title
          =r.room_type.type_desc
        %p.card-text
          %div{:class => r.is_available ? 'available' : 'booked'}
            =r.is_available ? "Disponible" : "Non disponible"
      %ul.list-group.list-group-flush
        %li.list-group-item
          =r.number
        %li.list-group-item
          =r.view.view_desc
        %li.list-group-item
          %div.price
            - price = price_by_period + r.room_type.type_fixed_price + r.view.view_fixed_price
            = price
      .card-body
        = link_to "Réserver", confirmation_path(res: {:room_id => r.id, :start_date => params[:res][:start_date],
          :end_date => params[:res][:end_date], :guests => params[:res][:guests],
          :view_id => params[:res][:view_id], :room_type_id => params[:res][:room_type_id], :price => price}),
          class: "card-link", method: :post
        %a.card-link{:href => "#"} Détails