%h1 Showing!
%p
  Nom du client: #{@reservation.customer.first_name + " " + @reservation.customer.last_name}

%p
  Numéro de la chambre: #{@reservation.room.number}


%p
  = link_to 'Retour', reservations_path