= wicked_pdf_stylesheet_link_tag "pdf"
= wicked_pdf_javascript_include_tag "number_pages"

%div.jumbotron
  %h1.display-4 Rapport
  %p
    Numéro du rapport: #{@report.id}
  %p
    Date d'émission: #{@report.issue_date}
