%div.jumbotron
  %h1.display-4 Détails
  %p
    Type de vue: #{@view.view_desc}
  %p
    Prix fixe: #{@view.view_fixed_price}
  %p
    Variation du prix: #{@view.view_percent_variation}

  %p
    = link_to 'Retour', admin_change_prices_path