<nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
  <%= link_to image_tag('nagano-logo.jpg'), root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Espace Client
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Réserver une chambre</a>
          <a class="dropdown-item" href="#">Mes réservations</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">M'inscrire</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Espace Gestion
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Modifier des comptes client", customers_path, class: "dropdown-item" %>
          <a class="dropdown-item" href="#">Modifier des réservation</a>
          <%= link_to "Modifier les chambres", rooms_path, class: "dropdown-item" %>
          <a class="dropdown-item" href="#">Modifier les prix</a>
          <a class="dropdown-item" href="#">Prévoir des changements de prix</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Rapports journaliers</a>
        </div>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Date" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>